<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" charset="ISO-8859-1" />
    <title>Login</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/app_plugin/css/estilo.css" rel="stylesheet" />
  </head>
  <body>
    <div class="contenedor-login">
      <div class="card shadow pt-3 pb-3 rounded-lg">
        <div class="card-body">
          <h4 class="card-title mb-3 text-center">Iniciar Sesión</h4>
          <div class="form">
            <form action="" method="post" class="form-login">
              <div class="row">
                <div class="form-group col-md-12">
                  <input
                    type="text"
                    name="usuario"
                    id="usuario"
                    class="form-control"
                    placeholder="Usuario"
                  />
                </div>
                <div class="form-group col-md-12">
                  <input
                    type="text"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Contraseña"
                  />
                </div>
                <div class="form-group col-md-12">
                  <input
                    type="submit"
                    name="iniciar-sesion"
                    id="iniciar-sesion"
                    class="btn btn-success btn-block btn-lg"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/app_plugin/js/login.js"></script>
  </body>
</html>
